.home {
    .main-app {
        margin-left: 200px;
        transition: all 0.3s;
        &.extend-app {
            margin-left: 80px;
        }
        .silder-nav {
            height: 50px;
            line-height: 50px;
            padding-left: 10px;
            border-bottom: 1px solid #eee;
            position: relative;
            .breadcrumb {
                display: inline-block;
                margin-left: 20px;
            }
            .user-info {
                position: absolute;
                right: 0;
                top: 0;   
                text-align: center;
                div {
                    display: inline-block;
                    padding: 0 10px;
                }
                .login-out{
                    cursor: pointer;
                    &:hover{
                        color: #0Dbc79;
                    }
                }
            }
        }
    }
}